<ng-container *ngIf="isInit && data">
    <table class="w-full border ">
        <ng-container *ngFor="let column of columns; let j = index">
            <th class="border-b">
                <span class="text-gray-600">{{column.header}}</span>
            </th>
        </ng-container>

        <tbody>
            <ng-container *ngFor="let item of data; let i = index">
                <tr class=" text-gray-600 border-b cursor-pointer hover:bg-slate-50">
                    <ng-container *ngFor="let column of columns; let j = index">
                        <td (click)="onExpandRow(i)" [class]="column.class"
                            [style.width]="column.spanPercentCalculated ?? undefined" class=" p-2 ">
                            <ng-container [ngTemplateOutlet]="column.column"
                                [ngTemplateOutletContext]="{ $implicit: data[i], index: i }">
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
                <tr *ngIf="expandRow" colspan="6">
                    <td colspan="6">
                        <div [ngClass]="[expandedRowIndex == i ? 'h-[200px]' : 'h-0']"
                            class="w-full overflow-auto transition-all duration-150 ">
                            <ng-container [ngTemplateOutlet]=" expandRow.expand"
                                [ngTemplateOutletContext]="{ $implicit: data[i], index: i }">
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        <tbody>
    </table>
</ng-container>