<ng-container [ngTemplateOutlet]="content"></ng-container>

<ng-template #content>
    <button [matTooltip]="tooltip" matTooltipPosition="right" (click)="$event.stopPropagation(); onClick.emit($event)"
        matRipple [ngClass]="{
            'bg-white ' : color == 'default',
            'bg-main-500 ' : color == 'main',
            'bg-none underline decoration-main-900': color == 'ghost',
            'bg-error-500 ': color == 'error',
            'bg-info-500 ': color == 'info',
            'bg-warn-500 ': color == 'warn',
            'bg-success-500 ': color == 'success',
            'll-shadow-button': color != 'ghost' && !disabled,
            'w-full' : stretched
        }" class="text-sm px-[10px] py-[8px]  rounded select-none">
        <ng-container *ngIf="icon">
            <ll-icon size="20" [name]="icon" [color]=" (color != 'ghost' && color != 'default') ? 'white' : 'main'">
            </ll-icon>
        </ng-container>
        <ll-label [color]="labelColor" size="base" [isBrighted]="color != 'ghost' && color != 'default'">
            <ng-content>
            </ng-content>
        </ll-label>
    </button>
</ng-template>