<!-- <ll-dialog size="small">
    <ll-label font="text-xl">
        Potwierdzenie
    </ll-label>

    <ll-content>
        {{data.data}}
    </ll-content>

    <ll-buttons-group>
        <ll-button (onClick)="onClose()" color="ghost">
            Wróć
        </ll-button>
        <ll-button (onClick)="onConfirm()" color="accent">
            Potwierdź
        </ll-button>
    </ll-buttons-group>
</ll-dialog> -->