<div class="w-full h-screen bg-leaselink-500">

    <ll-buttons-group orientation="vertical">
        <ll-button (onClick)="router.navigate([''])" size="small" color="ghost" tooltip="Menu główne">
            <mat-icon class="text-white">
                <span class="material-icons-outlined">
                    home
                </span>
            </mat-icon>
        </ll-button>

        <ll-button (onClick)="router.navigate(['users'])" tooltip="Zarządzanie użytkownikami" size="small"
            color="ghost">
            <mat-icon class="text-white">
                <span class="material-icons-outlined">
                    manage_accounts
                </span>
            </mat-icon>
        </ll-button>

        <ll-button tooltip="Wyloguj" size="small" color="ghost">
            <mat-icon class="text-white">
                <span class="material-icons-outlined">
                    logout
                </span>
            </mat-icon>
        </ll-button>

    </ll-buttons-group>

</div>