<div class="fixed top-0 left-0 bottom-0 w-[48px]">
  <nav-bar>
  </nav-bar>
</div>

<div class="fixed top-0 left-[48px] bottom-0 right-0 ">

  <ll-center>

    <ll-button icon="add">
      Dodaj nowy przedmiot
    </ll-button>

  </ll-center>

</div>