<ng-container [ngTemplateOutlet]="content"></ng-container>

<ng-template #content>
    <div [ngClass]="{
        'flex-row space-x-4': orientation == 'horizontal',
        'flex-col space-y-2': orientation == 'vertical',
        'justify-center': centered,
        'justify-end': !centered && orientation == 'horizontal',
        'justify-start': !centered && orientation == 'vertical'
    }" class="flex flex-nowrap h-full">

        <ng-container *ngFor="let button of buttons; let i = index">
            <div [ngClass]="{
                'flex-grow text-right' : i == 1 && buttons.length == 3 && fancyTrio == true && orientation == 'horizontal'
            }">
                <ng-container [ngTemplateOutlet]="button.content">
                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-template>