<ng-container *ngIf="isInit">
    <div [ngClass]="{
        'w-[460px]' : size == 'small',
        'w-[620px]' : size == 'medium',
        'w-[780px]' : size == 'big',
        'w-[960px]' : size == 'large'
    }" class="min-h-[120px] p-6">

        <ng-content select="ll-label">
        </ng-content>

        <div class="mt-4 text-lg text-leaselink-900">
            <ng-content select="ll-content">
            </ng-content>
        </div>

        <div class="mt-4">
            <ng-content select="ll-buttons-group">
            </ng-content>
        </div>

    </div>
</ng-container>