/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.custom-dialog-container .mat-dialog-container {
  padding: 0px 0px 0px 0px;
  overflow: auto;
  height: auto;
}
.ll-shadow-button {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(64, 64, 64, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(64, 64, 64, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(64, 64, 64, 0.25);
}
.ll-icon-button-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(64, 64, 64, 0.25);
  -moz-box-shadow: 0px 0px 2px 0px rgba(64, 64, 64, 0.25);
  box-shadow: 0px 0px 2px 0px rgba(64, 64, 64, 0.25);
}
.ll-icon-16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}
.ll-icon-20 {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
}
.ll-icon-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.ll-icon-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}
